* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #413d4b;
    font-weight: 300;

}
h1,h2,h3,h4 {
    font-weight: 700;
}
img {
    max-width: 100%;
    display: block;
}

.header-wrap {
background: #2d2550 url(images/bg-header.jpg);
    background-size: cover;
}
header {
    margin: 0 auto;
    max-width: 950px;
    padding: 0 10px;
    box-sizing: border-box;

}
.header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 160px;
}
.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 35px 5% 35px 0;
}
.menu li a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8125em;
    text-transform: uppercase;
}
.logo{
    margin-top: 20px;
}
.header-main {
    color: #fff;
    text-align: center;
    max-width: 672px;
    margin: 0 auto;
    padding-bottom: 200px;
}
.header-main h1 {
    font-size: 2em;
    margin-bottom: 50px;
}
.header-main h2 {
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 24px;
}
.link-button {
    display: inline-block;
    color: #00e0d0;
    padding: 10px 15px;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid #00e0d0;
    border-radius: 5px;
    font-size: 16px;
}
.content {
    margin: 0 auto;
    max-width: 950px;
    padding: 70px 10px 100px 10px;
    box-sizing: border-box;
}
.history {
    display: flex;
    margin-bottom: 100px;
    margin: 0 auto 100px auto;
}
.history-1 {
    display: flex;
    flex-direction: column; justify-content: space-between;
    flex-wrap: wrap;

}
.history-1 h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    color: #413d4b;
    margin: 20px 0;
    text-align: center;
}
.history-1 p {
    font-size: 14px;
    color: #413d4b;
    line-height: 24px;

}
.imgleft {
    margin-top: 30px;
    margin-right: 15%;
    height: 80%;
}
.history-1 .link-button {
    margin-top: 30px;
}
.paragraf {
   margin-top: 20px;
}
.contakti {
    margin: 0 auto;
    max-width: 450px;

}
.contakti h2 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
    }

input::placeholder {
    font-weight: bold;
    opacity: .5;
    color: #413d4b;
    font-size: 30px;
}
.post1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

}
.contakt {
    margin: 10px 10px;
    padding: 15px 20px;
    border: 1px solid #acabb1;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}
input::placeholder {
    font-weight: bold;
    opacity: .5;
    color: red;
    font-size: 16px;
} 
.area {
    margin: 10px 10px;
    padding: 15px 20px;
    border: 1px solid #acabb1;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    height: 150px;
}
.button {
    display: inline-block;
    color: #00e0d0;
    margin: 10px 10px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid #00e0d0;
    border-radius: 5px;
    max-width: 150px;
    background: none;
    cursor: pointer;
}
.footer-wrap {
    background: #2d2550 url(images/bg-footer.jpg);
    background-size: cover;
}
.footer {
    margin: 0 auto;
    max-width: 950px;
    padding: 70px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer p {
    color: #fff;
    margin: 20px 0;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .menu {
    flex-direction: column;
}
    .header-top {
    margin-bottom: 60px;
}
    .menu li a {
    line-height: 24px;

}
    .history {
        display: flex;
        flex-direction: column;
    }
    .imgleft {
    width: 60%;
    height: 60%;
    margin: 0 auto 30px auto;
}
    .header-main {
    padding-bottom: 50px;
}
    .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
    .footer p {
    margin: 40px 0;
    text-align: center;
}
    .footer {
    padding: 30px 10px;
}
    .content {

    padding: 70px;

}
}





















